chembl_structure_pipeline
efficientnet
fastapi>=0.110.3
fastapi-pagination==0.10.0
fastapi-versioning>=0.10.0
HOSE_code_generator @ git+https://github.com/Ratsemaat/HOSE_code_generator
httpx>=0.24.1
IPython
jinja2
jpype1==1.4.1
matplotlib>=3.4.3
opencv-python==4.8.1.78
pandas
pdf2image==1.16.2
pillow==10.3.0
pillow-heif==0.10.0
pre-commit
flake8
black
prometheus-fastapi-instrumentator
pystow>=0.4.9
python-multipart
scikit-image
selfies>=2.1.1
tensorflow==2.15.1
Keras-Preprocessing==1.1.2
unicodedata2==15.0.0
websockets==10.4
mapchiral
slowapi
imantics==0.1.12
rdkit
openbabel-wheel
uvicorn[standard]
pytest
pytest-asyncio
pymupdf