fastapi>=0.80.0
uvicorn>=0.15.0,<0.16.0
fastapi-pagination==0.10.0
rdkit-pypi>=2022.09.4
websockets==10.4
pillow==9.4.0
opencv-python==4.7.0.68
jpype1==1.4.1
matplotlib==3.4.3
scikit-image
pdf2image==1.16.2
IPython
pystow>=0.4.9
unicodedata2==15.0.0
efficientnet
tensorflow==2.10.0
pyheif==0.7.1
selfies>=2.1.1
jinja2