uvicorn>=0.15.0,<0.16.0
fastapi>=0.80.0
fastapi-pagination==0.10.0
fastapi-versioning>=0.10.0
prometheus-fastapi-instrumentator
jpype1==1.4.1
jinja2
pandas
chembl_structure_pipeline
HOSE_code_generator @ git+https://github.com/Ratsemaat/HOSE_code_generator
websockets==10.4
pillow==10.0.1
opencv-python==4.7.0.68
matplotlib==3.4.3
scikit-image
pdf2image==1.16.2
IPython
pystow>=0.4.9
unicodedata2==15.0.0
efficientnet
tensorflow>=2.10.1
pillow-heif==0.10.0
selfies>=2.1.1
httpx>=0.24.1
keras_preprocessing==1.1.2
nbsphinx
sphinx-autodoc-typehints
sphinx_rtd_theme
furo
openbabel-wheel
imantics==0.1.12
rdkit

