chembl_structure_pipeline
efficientnet
fastapi==0.110.3
fastapi-pagination==0.10.0
fastapi-versioning>=0.10.0
furo
HOSE_code_generator @ git+https://github.com/Ratsemaat/HOSE_code_generator
httpx>=0.24.1
imantics==0.1.12
IPython
jinja2
jpype1==1.4.1
keras_preprocessing==1.1.2
matplotlib==3.4.3
nbsphinx
openbabel-wheel
opencv-python==4.7.0.68
pandas
pdf2image==1.16.2
pillow==10.3.0
pillow-heif==0.10.0
pre-commit
prometheus-fastapi-instrumentator
pystow>=0.4.9
rdkit
scikit-image
selfies>=2.1.1
sphinx-autodoc-typehints
sphinx_rtd_theme
tensorflow>=2.10.1
unicodedata2==15.0.0
uvicorn>=0.15.0,<0.16.0
websockets==10.4
mapchiral
